<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>


				<li class="start active ">

					<a href="#">

					<i class="icon-home"></i> 

					<span class="title">后台</span>

					<span class="selected"></span>

					</a>

				</li>

				<li class="open">

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title">文档修改</span>



					</a>

						<ul class="sub-menu" style="display: block;">

						<li>

							<a href="/blog/news/show/">

							article1</a>

						</li>

						<li>

							<a href="/blog/product/show/">

							article2</a>

						</li>

						<li>

							<a href="/blog/plan/show/">

							article3</a>

						</li>

						

						<li>

							<a href="/blog/us/show/">

							关于我们</a>

						</li>

						<li>

							<a href="/blog/recruit/show/">

							article4</a>

						</li>

						<li>

							<a href="/blog/contact/show/">

							联系我们</a>

						</li>

					</ul>

				</li>
				<li class="open">

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title">文件</span>
					</a>

						<ul class="sub-menu" style="display: block;">

						<li>

							<a href="/blog/showImgList">

							图片</a>

						</li>

					</ul>

				</li>
				<li class="open">

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title">密码管理</span>



					</a>

						<ul class="sub-menu" style="display: block;">

						<li>

							<a href="/blog/changePasswd">

							修改密码</a>

						</li>

					</ul>

				</li>
				

				

			</ul>